<h1 class="titulo"> HISTORIAL</h1>

<!--  SOLO ADMIN -->

@if (rol === 'ADMIN') {

  <div class="acciones-admin">

    <button
      class="borrar-historial"
      (click)="borrarHistorial()"
    >
       Limpiar historial
    </button>

  </div>

}

<div class="contenedor">

  <div *ngFor="let ticket of tickets" class="ticket-card">

    <h2>{{ ticket.mesa }}</h2>

    <p class="fecha">
      {{ ticket.fecha }}
    </p>

    <div class="productos">

      <div
        *ngFor="let linea of ticket.lineas"
        class="producto"
      >

        <span>
          {{ linea.producto.nombre }}
        </span>

        <span>
          {{ linea.subtotal.toFixed(2) }} €
        </span>

      </div>

    </div>

    <div class="total">

      TOTAL:
      {{ ticket.total.toFixed(2) }} €

    </div>

  </div>

</div>